/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Header/Header.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.header {
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  width: 370px;
}

.link {
  color: gray;
  font-size: 13px;
  float: right;
  padding-top: 8px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Hero/Hero.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/

  
  .additional-info {
    background-color: orange;
    width: 370px;
    padding: 10px 10px 10px 10px;
  }
  
  #add-info-header {
    margin-top: 0px;
  }
  
  #add-info-text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  span {
    color: white;
  }
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Main/Info_Card/Info_Card.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.info-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-text {
  text-align: center;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Review/Country_Btn/Country_Btn.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.button-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Review/Review.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Review/Review_Info/Review_Info.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.review-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-text .review-header {
  text-align: center;
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Main/Main.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
  }
  
.info-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.info-text {
    text-align: center;
  }
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/Footer/Footer.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
footer {
  background-color: rgb(235, 235, 235);
  width: 370px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

