.additional-info {
  background-color: orange;
  width: 370px;
  padding: 10px 10px 10px 10px;
}

#add-info-header {
  margin-top: 0px;
}

#add-info-text {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  width: 370px;
  margin-top: 0px;
  text-decoration: underline;
  color: white;
}

span {
  color: white;
}

.link {
  background-color: grey;
  width: 370px;
  text-align: center;
  color: white;
  padding: 5px;
}
